distributed programming/Teoria/FornitoreWebServiceClient/src/conf/xml-resources/web-service-references/FornitoreEJB/wsdl/localhost_8080/FornitoreEJBService/FornitoreEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://fornitoriBean/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://fornitoriBean/">

<xs:element name="create" type="tns:create"/>

<xs:element name="createResponse" type="tns:createResponse"/>

<xs:element name="delete" type="tns:delete"/>

<xs:element name="deleteResponse" type="tns:deleteResponse"/>

<xs:element name="findAll" type="tns:findAll"/>

<xs:element name="findAllResponse" type="tns:findAllResponse"/>

<xs:element name="findCognome" type="tns:findCognome"/>

<xs:element name="findCognomeResponse" type="tns:findCognomeResponse"/>

<xs:element name="findId" type="tns:findId"/>

<xs:element name="findIdResponse" type="tns:findIdResponse"/>

<xs:element name="findMax" type="tns:findMax"/>

<xs:element name="findMaxResponse" type="tns:findMaxResponse"/>

<xs:element name="fornitore" type="tns:fornitore"/>

<xs:element name="update" type="tns:update"/>

<xs:element name="updateResponse" type="tns:updateResponse"/>

<xs:complexType name="findMax">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findMaxResponse">
<xs:sequence>
<xs:element name="return" type="tns:fornitore" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fornitore">
<xs:sequence>
<xs:element name="cognome" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="maxOrdine" type="xs:int"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="nomeSocieta" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
<xs:element name="totaleOrdini" type="xs:int"/>
<xs:element name="valoreTotaleOrdini" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="delete">
<xs:sequence>
<xs:element name="arg0" type="tns:fornitore" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findCognome">
<xs:sequence>
<xs:element name="arg0" type="tns:fornitore" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCognomeResponse">
<xs:sequence>
<xs:element name="return" type="tns:fornitore" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findId">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:fornitore" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:fornitore" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="update">
<xs:sequence>
<xs:element name="arg0" type="tns:fornitore" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="create">
<xs:sequence>
<xs:element name="arg0" type="tns:fornitore" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>