distributed programming/Teoria/FornitoreWebServiceClient/src/conf/xml-resources/web-service-references/FornitoreEJB/wsdl/localhost_8080/FornitoreEJBService/FornitoreEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://fornitoriBean/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://fornitoriBean/" name="FornitoreEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://fornitoriBean/" schemaLocation="http://localhost:8080/FornitoreEJBService/FornitoreEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<message name="findCognome">
<part name="parameters" element="tns:findCognome"/>
</message>
<message name="findCognomeResponse">
<part name="parameters" element="tns:findCognomeResponse"/>
</message>
<message name="findId">
<part name="parameters" element="tns:findId"/>
</message>
<message name="findIdResponse">
<part name="parameters" element="tns:findIdResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="findMax">
<part name="parameters" element="tns:findMax"/>
</message>
<message name="findMaxResponse">
<part name="parameters" element="tns:findMaxResponse"/>
</message>
<portType name="FornitoreEJB">
<operation name="update">
<input wsam:Action="http://fornitoriBean/FornitoreEJB/updateRequest" message="tns:update"/>
<output wsam:Action="http://fornitoriBean/FornitoreEJB/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://fornitoriBean/FornitoreEJB/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://fornitoriBean/FornitoreEJB/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://fornitoriBean/FornitoreEJB/createRequest" message="tns:create"/>
<output wsam:Action="http://fornitoriBean/FornitoreEJB/createResponse" message="tns:createResponse"/>
</operation>
<operation name="findCognome">
<input wsam:Action="http://fornitoriBean/FornitoreEJB/findCognomeRequest" message="tns:findCognome"/>
<output wsam:Action="http://fornitoriBean/FornitoreEJB/findCognomeResponse" message="tns:findCognomeResponse"/>
</operation>
<operation name="findId">
<input wsam:Action="http://fornitoriBean/FornitoreEJB/findIdRequest" message="tns:findId"/>
<output wsam:Action="http://fornitoriBean/FornitoreEJB/findIdResponse" message="tns:findIdResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://fornitoriBean/FornitoreEJB/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://fornitoriBean/FornitoreEJB/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="findMax">
<input wsam:Action="http://fornitoriBean/FornitoreEJB/findMaxRequest" message="tns:findMax"/>
<output wsam:Action="http://fornitoriBean/FornitoreEJB/findMaxResponse" message="tns:findMaxResponse"/>
</operation>
</portType>
<binding name="FornitoreEJBPortBinding" type="tns:FornitoreEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCognome">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findMax">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FornitoreEJBService">
<port name="FornitoreEJBPort" binding="tns:FornitoreEJBPortBinding">
<soap:address location="http://localhost:8080/FornitoreEJBService/FornitoreEJB"/>
</port>
</service>
</definitions>