distributed programming/Teoria/BookWebServiceClient/src/conf/xml-resources/web-service-references/BookEJB/wsdl/localhost_8080/BookEJBService/BookEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://book/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://book/" name="BookEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://book/" schemaLocation="http://localhost:8080/BookEJBService/BookEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="findAllBook">
<part name="parameters" element="tns:findAllBook"/>
</message>
<message name="findAllBookResponse">
<part name="parameters" element="tns:findAllBookResponse"/>
</message>
<message name="updateBook">
<part name="parameters" element="tns:updateBook"/>
</message>
<message name="updateBookResponse">
<part name="parameters" element="tns:updateBookResponse"/>
</message>
<message name="findById">
<part name="parameters" element="tns:findById"/>
</message>
<message name="findByIdResponse">
<part name="parameters" element="tns:findByIdResponse"/>
</message>
<message name="removeBook">
<part name="parameters" element="tns:removeBook"/>
</message>
<message name="removeBookResponse">
<part name="parameters" element="tns:removeBookResponse"/>
</message>
<message name="addBook">
<part name="parameters" element="tns:addBook"/>
</message>
<message name="addBookResponse">
<part name="parameters" element="tns:addBookResponse"/>
</message>
<portType name="BookEJB">
<operation name="findAllBook">
<input wsam:Action="http://book/BookEJB/findAllBookRequest" message="tns:findAllBook"/>
<output wsam:Action="http://book/BookEJB/findAllBookResponse" message="tns:findAllBookResponse"/>
</operation>
<operation name="updateBook">
<input wsam:Action="http://book/BookEJB/updateBookRequest" message="tns:updateBook"/>
<output wsam:Action="http://book/BookEJB/updateBookResponse" message="tns:updateBookResponse"/>
</operation>
<operation name="findById">
<input wsam:Action="http://book/BookEJB/findByIdRequest" message="tns:findById"/>
<output wsam:Action="http://book/BookEJB/findByIdResponse" message="tns:findByIdResponse"/>
</operation>
<operation name="removeBook">
<input wsam:Action="http://book/BookEJB/removeBookRequest" message="tns:removeBook"/>
<output wsam:Action="http://book/BookEJB/removeBookResponse" message="tns:removeBookResponse"/>
</operation>
<operation name="addBook">
<input wsam:Action="http://book/BookEJB/addBookRequest" message="tns:addBook"/>
<output wsam:Action="http://book/BookEJB/addBookResponse" message="tns:addBookResponse"/>
</operation>
</portType>
<binding name="BookEJBPortBinding" type="tns:BookEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAllBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BookEJBService">
<port name="BookEJBPort" binding="tns:BookEJBPortBinding">
<soap:address location="http://localhost:8080/BookEJBService/BookEJB"/>
</port>
</service>
</definitions>