distributed programming/Teoria/BookWebServiceClient/src/conf/xml-resources/web-service-references/BookEJB/wsdl/localhost_8080/BookEJBService/BookEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://book/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://book/">

<xs:element name="addBook" type="tns:addBook"/>

<xs:element name="addBookResponse" type="tns:addBookResponse"/>

<xs:element name="book" type="tns:book"/>

<xs:element name="findAllBook" type="tns:findAllBook"/>

<xs:element name="findAllBookResponse" type="tns:findAllBookResponse"/>

<xs:element name="findById" type="tns:findById"/>

<xs:element name="findByIdResponse" type="tns:findByIdResponse"/>

<xs:element name="removeBook" type="tns:removeBook"/>

<xs:element name="removeBookResponse" type="tns:removeBookResponse"/>

<xs:element name="updateBook" type="tns:updateBook"/>

<xs:element name="updateBookResponse" type="tns:updateBookResponse"/>

<xs:complexType name="addBook">
<xs:sequence>
<xs:element name="arg0" type="tns:book" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="book">
<xs:sequence>
<xs:element name="author" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:float"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBookResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllBook">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllBookResponse">
<xs:sequence>
<xs:element name="return" type="tns:book" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeBook">
<xs:sequence>
<xs:element name="arg0" type="tns:book" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeBookResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findById">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:book" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBook">
<xs:sequence>
<xs:element name="arg0" type="tns:book" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBookResponse">
<xs:sequence>
<xs:element name="return" type="tns:book" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>